@{
    ViewData["Title"] = "FTP Tester";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" action="#" method="POST" role="form"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" for="name">Arquivo</label>
                    <input type="file" class="form-control" @*id="file" name="file" *@ placeholder="Inserir arquivo" tabindex="1" required>
                </div>
                <div class="text-center">
                    <button asp-action="Upload" type="submit" class="btn btn-start-order">Upload Arquivo</button>
                </div>
            </form>

            <form id="contact-form" class="form" action="#" method="POST" role="form"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" for="name">Escolher arquivo a ser movido</label>
                    <input type="file" class="form-control" @*id="file" name="file" *@ placeholder="Mover arquivo" tabindex="1" required>
                </div>
                <div class="text-center">
                    <button asp-action="Move" type="submit" class="btn btn-start-order">Confirmar</button>
                </div>
            </form>
            
            <form id="contact-form" class="form" action="#" method="POST" role="form"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" for="name">Nome para o arquivo a ser baixado</label>
                    <input type="text" class="form-control" @*id="nome" name="nome" *@ placeholder="Inserir nome" tabindex="1" required>
                </div>
                <div class="text-center">
                    <button asp-action="Download" type="submit" class="btn btn-start-order">Download Arquivo</button>
                </div>
            </form>
        </div>
    </div>
</div>